/* Box model reset */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal */

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", serif;
  font-size: 18px;
  line-height: 1.4;
}

h1,
h4 {
  font-weight: bold;
  /* color: white; */
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  background-color: black;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

header img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Banner */

.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.headline {
  position: relative;
  /* relative to the parent, .banner */
  top: 9rem;
  width: 25rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
}

.headline h1 {
  margin: 0.25rem 0;
  font-size: 2rem;
  line-height: 1.2;
}

@media only screen and (max-width: 470px) {
  .banner {
    height: 15rem;
  }

  .headline {
    width: 100%;
    top: 10rem;
    padding: 1rem 2rem;
  }

  .headline h4 {
    font-size: 0.77rem;
  }

  .headline h1 {
    font-size: 1rem;
  }
}

/* Navigation */

nav {
  width: 100%;
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }
}

/* Products and Information */

.products,
.information {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px black solid;
  height: 12rem;
}

.product-image img {
  max-width: 8rem;
  padding: 2rem 0;
}

.description {
  display: block;
  padding: 0.5rem;
  background-color: black;
  color: white;
  text-align: center;
}

.info {
  width: 35%;
}

.info .title{
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

.info .detail {
  color: black;
}

@media only screen and (max-width: 1024px) {
  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .product.pen {
    width: 90%;
    margin: 0 auto;
  }

  .product.glasses,
  .product.watch {
    display: none;
  }

  .information {
    flex-wrap: wrap;
    justify-content: center;
  }

  .info {
    width: 90%;
    padding-bottom: 0.5rem;
  }
}

footer {
  background-color: black;
  color: white;
  padding: 5rem 0;
  margin-top: 4rem;
}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
